{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Вход в аккаунт {% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}
{% block content %}
<form action="" method="POST" class="col-md-offset-5 login" style="display: inline-grid; margin-top: 15%;">
    {% csrf_token %}
    <table>
        <tr>
            <td><h3>Вход в аккаунт</h3></td>
        </tr>
        <tr>
            <td><label for="username">Имя пользователя:</label></td>
        </tr>
        <tr>
            <td><input type="text" id="username" name="username"></td>            
        </tr>
        <tr>
            <td><label for="password">Пароль:</label></td>
        </tr>
        <tr>
            <td><input type="password" id="password" name="password"></td>            
        </tr>
        <tr>
            <td><input type="submit" value="Войти"></td>
        </tr>
    </table>
</form>
{% endblock content %}