{% extends 'cafe/header.html' %}
{% block title %} Заказ {% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/order.css' %}">{% endblock %}
{% block username %}<a href="{% url 'accounts:profile' %}">{{ user.username }}</a>{% endblock username %}

{% block main_content %}
    {% for item in order_items %}
        <div>
            {% include 'cafe/product_detail.html' with product=item.product %}
        </div>
        <div>{{ item.count }}</div>
    {% endfor %}

    {% if user.is_superuser %}
        <a href="{% url 'accounts:set_order_status' id=order.id status=True %}">Подтвердить оплату</a>
        <a href="{% url 'accounts:set_order_status' id=order.id status=False %}">Отменить заказ</a>
    {% endif %}
{% endblock main_content %}
