{% extends 'header.html' %}
{% load staticfiles %}
{% load qr_tags %}
{% block title %} Профиль {% endblock title %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main_content %}

    <div class="col-md-offset-4 col-md-4">
        <div style="margin-bottom: 5%; font-style: italic; font-weight: bold;">В этом месяце ({% now 'F' %}) вы уже потратили {{ sum }} рублей.</div>

        <div>
            {% for order in orders %}
                <div class="row my-row">
                    <div class="col-md-1 item">
                        <div class="round completed-{{ order.completed }}"></div>
                    </div>
                    <div class="col-md-3">{% qr_from_text order.token 's' %}</div>
                    <div class="col-md-4 item"><a href="{% url 'accounts:order' pk=order.pk %}">{{ order.date }}</a></div>
                    <div class="col-md-3 item">{{ order.sum }} рублей</div>
                    <img class="col-md-1 item" src="https://clipboardjs.com/assets/images/clippy.svg" style="cursor: pointer;" onclick="copyTextToClipboard('{{ order.token }}')">
                </div>
            {% endfor %}
        </div>

        {% if user.is_superuser %}
            <div style="margin-top: 3%;">
                <div style="margin-bottom: 10px;">Административные возможности</div>

                <div>
                    <form action="{% url 'accounts:check_order' %}" method="post" style="display: inline-block;">
                        {% csrf_token %}
                        <input placeholder="код заказа" type="text" autocomplete="off" name="token">
                        <input type="submit" class="btn btn-default" value="Получить заказ">
                    </form>
                    <a href="{% url 'accounts:statistics' %}" class="btn btn-default" style="margin-left: 100px;">Статистика</a>
                    <a href="{% url 'admin:index' %}" class="btn btn-default">Админка</a>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock main_content %}
