{% extends 'header.html' %}
{% load staticfiles %}
{% load qr_tags %}
{% block title %} Профиль {% endblock title %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main_content %}

    <div class="col-md-offset-4 col-md-4">
        <div style="margin-bottom: 5%; font-style: italic; font-weight: bold;">В этом месяце ({% now 'F' %}) вы уже потратили {{ sum }} рублей.</div>

        <div>
            {% for order in orders %}
                <a href="{% url 'accounts:order' %}" class="row">
                    <div class="col-md-1 item">
                        <div class="round completed-{{ order.completed }}"></div>
                    </div>
                    <div class="col-md-3">{% qr_from_text order.token 's' %}</div>
                    <div class="col-md-4 item">{{ order.date }}</div>
                    <div class="col-md-3 item">{{ order.sum }} рублей</div>
                </a>
            {% endfor %}
        </div>


        {% if user.is_superuser %}
            <div style="margin-top: 3%;">
                <hr style="border-top: 1px solid black;">
                <div style="margin-bottom: 10px;">Административные возможности</div>

                <div>
                    <input placeholder="код заказа" type="text">
                    <a href="{% url 'accounts:order' %}" class="btn btn-default">Получить заказ</a>
                    <a href="{% url 'accounts:statistics' %}" class="btn btn-default" style="margin-left: 100px;">Статистика</a>
                    <a href="{% url 'admin:index' %}" class="btn btn-default">Админка</a>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock main_content %}
