{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/header.css' %}">{% endblock %}
{% block content %}
<div>
    <div>MOTMOM-cafe</div>
    <div>
        <a href="/" class="btn btn-default">Главная</a>
        <button id="cart" class="btn btn-default">Корзина</button>
    </div>
    <div>
        <div>Username</div>
        <button class="btn btn-default">Выйти</button>
    </div>
</div>
{% block main_content %}{% endblock main_content %}
{% endblock content %}
{% block scripts %}<script type="text/javascript" src="{% static 'js/header.js' %}"></script>{% endblock %}
