{% extends 'cafe/header.html' %}
{% load staticfiles %}
{% block title %} Меню {% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/menu.css' %}">{% endblock %}
{% block main_content %}
<div class="col-md-4">
    {% foreach category in categories %}
        <div class="{% ifequal cat.id checked_category.id %}active{% endifequal %}">
            {{ category.name }}
        </div>
    {% endforeach %}
</div>
<div class="col-md-offset-2 col-md-5">
    {% foreach product in products %}
        <div>
            {% include 'cafe/product_detail.html' %}
        </div>
    {% endforeach %}
</div>
{% endblock main_content %}
