{% extends 'cafe/header.html' %}
{% load staticfiles %}
{% block title %} Меню {% endblock title %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}
{% block main_content %}
<div class="col-md-offset-1 col-md-1">
    {% for category in categories %}
        <a class="{% if category.id == checked_category.id %}active{% endif %}" style="display: block;"
           href="{% if category.id == '' %}{% url 'cafe:most_popular' %}{% else %}{% url 'cafe:category' pk=category.id %}{% endif %}"
        >
            {{ category.name }}
        </a>
    {% endfor %}
</div>
<div class="col-md-offset-1 col-md-6" style="background-color: lightblue;">
    <div class="row">
        <h4 class="col-md-offset-5" style="color: red;">{{ checked_category.name }}</h4>
    </div>
    <div class="row" style="margin-right: 5%; margin-bottom: 5%; height: 700px;">
    {% for product in products %}
        <div class="col-md-offset-1 col-md-3" style="border: 1px solid black; margin-top: 20px; padding: 10px;">
            {% include 'cafe/product_detail.html' %}
            <input class="product" type="number" value="0" min="0" autocomplete="off" id="{{ product.id }}">
        </div>
    {% endfor %}
    </div>
</div>
{% endblock main_content %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
{% endblock %}
