{% extends 'cafe/header.html' %}
{% load staticfiles %}
{% block title %} Меню {% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/menu.css' %}">{% endblock %}
{% block username %}<a href="{% url 'accounts:profile' %}">{{ user.username }}</a>{% endblock username %}
{% block main_content %}
<div class="col-md-4">
    {% for category in categories %}
        <a class="{% ifequal cat.id checked_category.id %}active{% endifequal %}" style="display: block;" href="{% url 'cafe:category' pk=category.id %}">
            {{ category.name }}
        </a>
    {% endfor %}
</div>
<div class="col-md-offset-2 col-md-5">
    {% for product in products %}
        <div>
            {% include 'cafe/product_detail.html' with product=product %}
        </div>
    {% endfor %}
</div>
{% endblock main_content %}
