<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <nav class="navbar navbar-default navbar-fixed-bottom row" role="navigation">
                    <div class="col-md-offset-1 col-md-2" style="margin-top: 15px;">
                      &copy; Панов Илья, 2017 г.
                    </div>
                    <div class="col-md-offset-6 col-md-2" style="margin-top: 10px; max-width: 210px;">
                      <a href="https://github.com/i-panov/motmom_cafe" target="_blank" class="btn btn-block btn-social btn-github">
                        <span class="fa fa-github"></span> Sign in with GitHub
                      </a>
                    </div>
                  </nav>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>