{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/header.css' %}">{% endblock %}
{% block content %}
<div class="row" style="margin-top: 2%;">
    <div class="col-md-2" style="padding-left: 10%;">Кафе MOTMOM</div>
    <div class="col-md-offset-3 col-md-4">
        <a href="{% url 'cafe:most_popular' %}" class="btn btn-default">Главная</a>
        <a href="{% url 'cafe:cart' %}" id="cart" class="btn btn-default">Корзина</a>
    </div>
    <div class="col-md-offset-1 col-md-2" style="padding-left: 8%;">
        <div style="display: inline-block;"><a href="{% url 'accounts:profile' %}">{{ user.username }}</a></div>
        <a href="{% url 'accounts:logout' %}" class="btn btn-default">Выйти</a>
    </div>
</div>
<div class="row" style="margin-top: 2%;">
{% block main_content %}{% endblock main_content %}
</div>
{% endblock content %}
{% block scripts %}<script type="text/javascript" src="{% static 'js/header.js' %}"></script>{% endblock %}
